@model NhaXe
@{
	Layout = "~/Views/QTV2/_Qtv2Layout.cshtml";
	ViewData["Title"] = "Thông tin nhà xe " + ViewData["TenNhaXe"];
}

<h3>@ViewData["Title"]</h3>
<div class="container">
	<form method="post" asp-action="updatecoban">
		<table>
			<tr>
				<td><label>Mã nhà xe</label></td>
				<td><input asp-for="MaNhaXe"  type="text" readonly value="@Model.MaNhaXe" /></td>
			</tr>
			<tr>
				<td><label>Tên nhà xe</label></td>
				<td><input asp-for=TenNhaXe type="text" value="@Model.TenNhaXe" /></td>
				<td><span asp-validation-for=TenNhaXe></span></td>
			</tr>
			<tr>
				<td><label>Số lượng xe</label></td>
				<td><input asp-for=SoLuongXe type="number" value="@Model.SoLuongXe" /></td>
				<td><span asp-validation-for=SoLuongXe></span></td>
			</tr>
			<tr>
				<td><label>Số điện thoại</label></td>
				<td><input asp-for=Sdt type="text" value="@Model.Sdt" /></td>
				<td><span asp-validation-for=Sdt></span></td>
			</tr>
			<tr>
				<td><label>Màu biểu tượng</label></td>
				<td><input asp-for=MauBieuTuong type="color" value="@Model.MauBieuTuong" /></td>
				<td><span asp-validation-for=MauBieuTuong></span></td>
			</tr>
			<tr>
				<td><label>Địa chỉ</label></td>
				<td><input asp-for=DiaChi type="text" value="@Model.DiaChi" /></td>
				<td><span asp-validation-for=DiaChi></span></td>
			</tr>
			<tr>
				<td><label>Ngày thực hiện giao dịch cuối</label></td>
				<td><input readonly type="date" asp-for="GiaoDichCuoi"  value="@Model.GiaoDichCuoi.ToString("yyyy-MM-dd")" /></td>
			</tr>
		</table>
		<button type="submit">Cập nhật</button>
	</form>
</div>