@model LichSuVaoRa[]
@{
    Layout = "~/Views/Qtv1/_Qtv1Layout.cshtml";
    ViewData["Title"] = "LSVaoRa";
}

<h1>@ViewData["Title"]</h1>
<div class="">
    <form method="post">
        <div class="text-danger validation-summary"></div>
        <div class="input-group">
            <table id="data-grid" class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Số thứ tự</th>
                        <th scope="col">Mã xe khách</th>
                        <th scope="col">Mã vị trí</th>
                        <th scope="col">Vào bến</th>
                        <th scope="col">Thời điểm</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LichSuVaoRa lichSuVaoRa in Model)
                    {
                        <tr>
                            <td>
                                <input readonly typ="text" value="@lichSuVaoRa.Stt," />
                                <input readonly typ="text" value="@lichSuVaoRa.MaXeKhach," />
                                <input readonly typ="text" value="@lichSuVaoRa.MaViTri," />
                                <input readonly typ="text" value="@lichSuVaoRa.VaoBen," />
                                <input readonly typ="text" value="@lichSuVaoRa.ThoiDiem," />
                            </td>
                            <td><input type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" /></td>
                        </tr>
                    }
                <tr>
                    <td><input readonly type="text" value="@ViewBag.NextStt" /></td>
                    <td><input readonly type="text" value="" /></td>
                    <td><input readonly type="text" value="" /></td>
                    <td><input readonly type="checkbox" checked /></td>
                    <td><input readonly disabled type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" /></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="input-group">
            <button type="button" id="create-lsvr">Tạo mới</button>
        </div>
      
</form>
</div>